<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Termeni si conditii</title>

    <style>
        body {
            background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)),
            url('/imagines/bike31.jpg');
            background-size: cover;
        }

        .container {
            margin: 50px;
            font-family: "Times New Roman", serif;
            font-style: italic;
            font-size: 20px;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>Termeni și condiții</h1>
    <ul class="ply-breadcrumb">
        <li><a href="/frontpage">Acasă</a></li>
    </ul>
</div>

<section class="pb-5">
    <div class="container">
        <h5 class="mt-4">Continut</h5>
        <ul style="list-style-type: upper-alpha;">
            <li><a href="#incheierea_contractului_de_vanzare_cumparare">Încheierea contractului de vânzare-cumpărare</a></li>
            <li><a href="#catalogul_bikemania">Catalogul bikemania.ro</a></li>
            <li><a href="#livrarea_comenzilor">Livrarea comenzilor</a></li>
            <li><a href="#returul_produselor">Returul produselor</a></li>
            <li><a href="#garantia_produselor">Garantia produselor</a></li>
            <li><a href="#conditii_si_modalitati_de_plata">Condiții și modalități de plată</a></li>
            <li><a href="#drepturi_la_propietatea_intelectuala">Drepturi la proprietatea intelectuală</a></li>
            <li><a href="#litigii">Litigii</a></li>
            <li><a href="#dispozitii_finale">Dispoziții finale</a></li>

        </ul>

        <p>Site-ul www.bikemania.ro (denumit în continuare bikemania.ro, site), este proprietatea
            lui Paul Popescu, numită în continuare Bike Mania. Folosirea bikemania.ro implică
            acceptarea termenilor și condițiilor ce se vor detalia în continuare mai jos.
            Bike Mania iși asuma dreptul de a aduce modificări acestor prevederi, sau orice alte
            reformări care ar putea afecta bikemania.ro, fără notificări prealabile către utilizatori
            în acest sens, fără a fi responsabilă pentru eventualele erori materiale apărute din
            orice cauză, inclusiv din cauza unor, actualizări, configurări, etc.</p>

        <h5 id="incheierea_contractului_de_vanzare_cumparare">A. Încheierea contractului de
            vânzare-cumpărare</h5>

        <p>Plasarea comenzilor pe bikemania.ro, se poate realiza direct, sau prin intermediul contului
            de utilizator înregistrat și este permis orcărui client. Indiferent de metoda aleasă,
            pentru orice comandă este necesară introducerea datelor de contact solicitate in formular.
            Datele sunt confidențiale și sunt păstrate securizat.</p>

        <p>Notificarea primită de către client, după efectuarea comenzii are rol de informare și nu
            reprezintă acceptarea comenzii. Această notificare se face electronic (e-mail).</p>

        <p>Din motive justificate, bikemania.ro iși poate rezerva dreptul de a modifica cantitatea
            produselor și/sau a serviciilor din comandă. Modificările descrise mai sus vor fi
            comunicate clientului la adresa de e-mail sau la numarul de telefon puse la dispozitia
            bikemania.ro la efectuarea comenzii și va returna suma deja achitată atunci când va fi
            cazul. </p>

        <p>Procesarea comenzii se va realiza în timpul programului de lucru și va fi confirmată de
            bikemania.ro ulterior prin intermediul unei forme de comunicare (e-mail, telefonic, sms)
            prin care bikemania.ro derulează operațiunile comerciale. Clientul va fi informat cu
            privire la: disponibilitatea produselor comandate, costurile de livrare, modalitatea
            de plată, valoarea totală a comenzii. Clientului îi revine întreaga responsabilitate
            de a verifica corectitudinea datelor și de a anunța în timp util eventualele erori și
            transmiterea datelor corecte înainte de momentul în care comanda este pregătită pentru
            livrare. Orice livrare greșită, sau care nu se poate realiza din cauza datelor insuficiente
            sau eronate, se va returna către bikemania.ro. Costul pentru tur/retur colet vor fi
            suportate în întregime de client. Pentru a se reîncerca o livrare eșuată, costurile
            suplimentare percepute de către curier, vor fi suportate de către client.</p>

        <p>Pentru comenzile cu ridicare din depozitul-ul Bike Mania, produsele sunt rezervate doar
            după confirmarea plății.</p>


        <h5 id="catalogul_bikemania">B. Catalogul bikemania.ro</h5>

        <p>Produsele și serviciile publicate pe bikemania.ro fac parte din oferta Bike Mania și sunt
            valabile în limita stocurilor disponibile. Toate prețurile afișate pe bikemania.ro sunt
            în lei (RON) și includ T.V.A. Prețurile considerate sunt cele de la data înregistrării
            comenzii. bikemania.ro poate să aducă modificări ale prețurilor în condiții stabilite
            strict de către Bike Mania. Disponibilitatea produselor dintr-o comandă, va fi confirmată
            întotdeauna după regulamentul descris la punctul A. Site-ul bikemania.ro se actualizează
            la intervale regulate de timp, pentru a mentine informațiile cât mai aproape de realitate.
            În cazurile rare în care pot apărea omisiuni, erori cu privire la acuratețea descrierii,
            caracteristicilor, prețului sau al oricărei informații asociate unor produse, acestea se
            vor corecta imediat ce sunt descoperite. Dacă vreun astfel de produs, face parte dintr-o
            comandă pe bikemania.ro, clientul va fi informat cu privire la oricare dintre aceste
            inadvertențe și se va stabili de comun acord o metodă de soluționare. bikemania.ro nu va
            fi făcută răspunzătoare în niciun fel în cazul unor astfel de situații neprevăzute și
            nedorite cauzate de erori, atât ale Bike Mania cât și terților cu care sunt încheiate
            contracte de parteneriat. bikemania.ro își rezervă dreptul de a anula livrarea produselor
            neconforme și este obligat să informeze clientul despre decizia luată.</p>

        <p>Imaginile care sunt prezentate pe site au caracter informativ, și pot să difere în ceea ce
            privește forma, culoarea, accesorizarea, aspectul față de produsele reale care fac parte
            din oferta Bike Mania.</p>


        <h5 id="livrarea_comenzilor">C. Livrarea comenzilor</h5>

        <p>Pentru intrarea în posesie a produselor comandate vă oferim două metode: Ridicare din
            depozitul Bike Mania (pentru adresă verificați secțiunea CONTACT) sau livrare prin curier
            la o adresa stabilita. Livrarea comenzilor se va face printr-un serviciu de curierat
            door-to-door oferit de "FanCourier" sau un alt curier agreat de noi. Comanda împachetată
            pentru transport va fi ridicată de la sediul Bike Mania și va fi livrată doar la adresa
            specificată la înregistrarea/confirmarea comenzii sau în sediul companiei de curierat
            specificată clar de către client. Pentru modificarea adresei după ridicarea coletului de
            către curier se vor percepe taxe suplimentare. Pentru fiecare livrare se vor efectua două
            încercări, de regulă a doua încercare de livrare va fi ziua lucrătoare consecutuvă primei
            încercări eșuate. Dacă și a doua încercare de livrare eșuează din diferite motive, pachetul
            se va întoarce în sediul cel mai apropiat al curierului, de unde va fi returnat către
            expeditor. Taxele tur-retur aferente comenzii vor fi suportate în întregime de către client,
            indiferent care sunt motivele pentru care comanda s-a întors la expeditor, adica Bike Mania.
            Livrările se efectuează de luni până vineri între orele 8:30-17:30. În cazul în care se
            dorește în mod explicit, trebuie comunicat si se poate opta pentru livrare sâmbătă,
            serviciu care se va taxa suplimentar. Întregul cost va fi suportat de client.</p>

        <p>Comenzile cu ridicare personală sunt condiționate de plata online cu cardul, in momentul
            plasării comenzii. Dupa confirmarea plății, aceasta va fi procesata iar produsele
            rezervate și pregătite, moment în care se trimite și un e-mail de confirmare către client
            cu informarea faptului ca produsele sunt gata de ridicare împreună cu toate detaliile
            necesare. Vă rugăm frumos, să așteptați confirmarea din partea noastră înainte de vizită
            pentru a evita eventuale neplăceri.

        <p>Pentru comenzile plasate până în ora 11:00, dacă produsele sunt în stoc, livrarea se va
        face a doua zi lucrătoare, cu mici excepții. În momentul în care comanda este pregătită pentru
        livrare, se va emite un document de transport (AWB) cu un număr unic de identificare ce va fi
        transmis către client pentru urmărirea comenzii în sistemul companiei de curierat.
        În eventualitatea în care unul sau mai multe produse nu se află în stoc, comanda va rămâne
        în așteptare (1-3 zile lucrătoare) până când produsele vor fi disponibile. Dacă totuși
        produsele lipsă nu se mai pot livra indiferent de motiv, atunci se va transmite informația
        către client, și se va lua o decizie împreună cu acesta pentru înlocuirea cu un alt produs
        similar, renunțarea la produsul respectiv sau anularea în totalitate a comenzii.</p>

        <p>Taxele de livrare sunt fixe indiferent de mărimea sau continutul coletului
            (19 lei / expediție), cu condiția ca localitatea în raza căreia trebuie să se facă
            livrarea este acoperită de serviciile de curierat. Dacă totuși nu se încadrează în
            această situație, clientul va fi informat cu privire la costurile suplimentare.
            În funcție de răspunsul clientului se va proceda prin a trimite coletul indiferent de
            costuri sau se vor căuta alternative mai avantajoase pentru livrare (de ex. ridicare
            personală din depozitul Bike Mania sau ridicare personala din cel mai apropiat sediu al
            curierului) stabilit și confirmat împreună cu clientul. Costurile transportului vor fi
            trecute pe factura de vânzare către client. Pentru bicicletele care au prețul peste
            pragul de 2000 lei livrarea este suportată de Bike Mania cu condiția ca localitatea în
            care trebuie livrat să aibe acoperire în rețeaua FanCourier.</p>

        <p>Bike Mania nu își asumă răspunderea pentru eventuale întârzieri ale curierilor indiferent
            de motivul acestora, și nici nu se consideră răspunzătoare pentru posibilele daune
            suferite de client din cauza depășirii sau modificării termenului de livrare a comenzilor
            cauzate de serviciile terților.</p>

        <p>Bike Mania se ocupă de a asigura ambalarea corespunzătoare a bunurilor, pentru ca acestea
            sa ajungă impecabil la destinatar. Cu toate măsurile de prevenție luate, pot apărea
            situații în care produsele să fie afectate în timpul transportului și al manipulării.
            În situația neplăcută în care produsele ajung lovite/zgâriate/deteriorate din cauza
            transportului, Bike Mania NU despăgubește și nu schimbă produse în împrejurarea în care
            deficiențele nu au fost semnalate și notate în procesul verbal de constatare al
            curierului.</p>

        <p>Fiecare comandă este unică, și primește un număr de identificare. În cazul comenzilor
            multiple, acestea se vor procesa separat. In cazul în care nu vor depăși stadiul de
            așteptare, sau lucru, acestea se vor putea uni într-o singura comandă. Cu toate acestea
            nu putem garanta că, în situația în care se transmit comenzi multiple la intervale scurte
            de timp acestea să fie expediate într-un singur transport. Modificarea sau anularea unei
            comenzi se va putea lua în considerare doar până în momentul în care aceasta nu a intrat
            în livrare. Odată ce a părăsit sediul Bike Mania, nu se va mai putea modifica/anula.
            Orice procesare de modificare a unei comenzi, va atrage întoarcerea acesteia în coada
            de așteptare a rândului, lungind astfel perioada de livrare.</p>


        <h5 id="returul_produselor">D. Returul produselor</h5>

        <p>Vezi <a href="/return">Politica de retur</a></p>


        <h5 id="garantia_produselor">E. Garantia produselor</h5>

        <p>Termenul de garanție pentru biciclete este 24 luni pentru persoane fizice si 12 luni
            pentru persoane juridice și se referă la defecte de fabricație. Durata de viață medie
            a produsului este de 60 luni. Garanția este valabilă doar împreună cu documentul care
            atestă achiziția (Factura fiscală, bon fiscal). Toate cazurile de garanție se vor anunța
            si rezolva în unitatea de service Bike Mania, strada Zambilelor, nr. 11(langa Piata Sudului),
            sector 4, Bucuresti. Garanția se pierde în cazul în care bicicleta este folosită în regim
            de închiriere sau pentru competiții sportive (de orice fel), în cazul în care a fost
            utilizată necorespunzător, întreținere incorectă sau inexistentă, accidente, lovituri,
            suprasarcină, depozitarea necorespunzătoare (expunere prelungită în exterior sau la agenți
            care afectează: umezeală, soare, produse de curățare neadecvate). Pentru piesele supuse
            uzurii garanția nu se acordă pentru uzura normală (saboți-plăcuțe de frână, camere,
            anvelope, etc.), ci doar pentru defecțiuni de fabricație.</p>

        <p>Piesele, accesorile si echipamentele beneficiază de condiții diferite în funcție de natura
            produsului și a producătorilor. Pentru detalii vă rugăm sa ne contactați.</p>


        <h5 id="conditii_si_modalitati_de_plata">F. Condiții și modalități de plată</h5>

        <p>Comenzile online pot fi achitate numerar in sistem ramburs la livrare (maximum 10.000 lei
            pentru persoane fizice si maximum 5000 lei pentru persoane juridice), plata prin ordin
            de plată sau virament bancar, pentru persoane fizice cât și juridice, în baza unui
            document de plată, online cu cardul: Visa, Visa Electron, Maestro, Mastercard, tranzactia
            se face prin intermediul procesatorului de plati online ING; informatiile
            referitoare la carduri nu sunt stocate de Bike Mania, iar ING va asigura securitatea
            tranzactiei. </p>


        <h5 id="drepturi_la_propietatea_intelectuala">G. Drepturi la proprietatea intelectuală</h5>

        <p>Întreg conținutul, definit prin totalitatea informațiilor existente pe bikemania.ro care
            pot fi accesate (text, imagini, grafică etc), prin intermediul unui echipament electronic,
            informațiile transmise prin e-mail, telefon sau orice altă cale de comunicare din partea
            vânzatorului către cumpărător, date referitoare la vânzător, informații legate de
            bunurile/serviciile/tarifele practicate de vânzător sau colaborator cu care Bike Mania
            are încheiate contracte de parteneriat, este protejat conform legii drepturilor de autor,
            proprietate intelectuală și industrială. Folosirea acestora fără acordul scris al Bike Mania
            se pedepsește conform legilor in vigoare. Conținutul transmis către cumpărător indiferent
            de mijlocul de comunicare sau obținut de acesta prin accesare, vizitare, nu constitue
            obligație contractuală din partea Bike Mania față de respectivul conținut.</p>


        <h5 id="litigii">H. Litigii</h5>

        <p>Eventualele litigii ce pot apărea între Bike Mania și clienți se vor soluționa pe cale
            amiabilă prin înțelegere între cele două părți. În situația în care acest lucru nu este
            posibil, se vor aplica prevederile legale românești din domeniu, iar de soluționarea
            conflictului se vor ocupa instațele judecătorești române. Bike Mania nu va fi făcut
            responsabil pentru cazurile de forță majoră. Forța majoră este evenimentul imprevizibil,
            în afara controlului părților și care nu poate fi evitat. În funcție de situațiile
            specifice, bikemania.ro va căuta cu toate eforturile să reducă consecințele neplăcute
            cauzate de astfel de întâmplări.</p>


        <h5 id="dispozitii_finale">I. Dispoziții finale</h5>

        <p>Trimiterea unei comenzi, reprezintă acceptul de către client al termenilor si al
            condițiilor fără obiecții, acestea reprezentând un contract valabil încheiat între
            Bike Mania si Cumparator.</p>

        <p>Bike Mania își rezervă dreptul de a putea efectua orice modificări ale prevederilor din
            secțiunea de termeni și condiții, modificări asupra site-ului bikemania.ro, fără a fi
            necesară vreo notificare prealabilă către utilizatori în acest sens.</p>

        <p>Bike Mania se degrevează de orice responsabilitate cu privire la accidente, daune sau alte
            prejudicii rezultate în urma posesiei, utilizării vreunuia dintre produsele pe care
            le-a vândut, din orice motiv, inclusiv următoarele (fără să fie limitat la acestea):
            uz necorespunzător, defecte de proiectare sau producție, asamblarea incorectă, sau
            necorespunzătoare, avarii în urma transportului sau manipulării. Cumpărătorul și/sau
            utilizatorul va consimți în momentul achiziționării vreunui produs de la bikemania.ro
            ca nu va învinovăți nici unul dintre angajați, reprezentanți ori activele bikemania.ro.
            Cumpărătorul și/sau utilizatorul iși va asuma întreaga repsonsabilitate pentru a obtine
            si a se folosi de echipamentul de protecție necesar, în conformitate cu recomandările
            producătorului. Adițional, cumpărătorul/utilizatorul va accepta că ciclismul,
            în orice fel ar fi el practicat, este o activitate inerent periculoasă din care pot
            rezulta accidentări serioase, chiar moartea, și va accepta să își însușească instruirea
            și supervizarea, precum și toate materialele de siguranță, necesare practicării acestor
            activitați.</p>

        <p>Am citit acest acord și aceasta declarație de răspundere și am înteles în totalitate
            conținutul lor. Am înteles, de asemenea, că acesta reprezintă o declarație de răspundere
            cuprinzătoare, atât pentru persoana mea, cât și pentru copiii mei minori și pentru oricine
            altcineva care s-ar putea folosi de produsele achiziționate de mine de la bikemania.ro.
            Bike Mania recomandă cu toată convingerea că, în timpul practicării ciclismului, utilizatorul
            să se folosească întotdeauna de echipamentul de protecție adecvat, acesta incluzând:
            cască, genunchere, cotiere, manuși (dup[ caz și apărătoare pentru coloana vertebrală,
            ochelari de protecție). Va sfătuim, folosiți întotdeauna bicicleta în limita abilităților
            dumneavoastră.</p>
    </div>
</section>
</body>
</html>